Fields = Mbc DeltaE csVar Mphi MKs cThHel \\
       DeltaT TrueDeltaT TrueBtag RecoBtag isSig

Mbc    	      = RooRealVar "M_{bc}" 5.25 5.29 B(40) "GeV"
DeltaE 	      = RooRealVar "#DeltaE" -0.2 0.2 B(40) "GeV"
csVar	      = RooRealVar "csVar" -10 10 B(40)
Mphi 	      = RooRealVar "M(#phi)" 1. 1.05 B(50) "GeV"
MKs	      = RooRealVar "M(K^{0}_{S})" 0.46 0.54 B(40) "GeV"
cThHel	      = RooRealVar "cos(#theta_{hel})" -1. 1. B(40)
DeltaT	      = RooRealVar "#Deltat" -25 25 B(50) "ps"
TrueDeltaT    = RooRealVar "True #Deltat" -25 25 B(50) "ps"
TrueBtag      = RooRealVar "True Btag" -2 2
RecoBtag      = RooRealVar "Reco Btag" -2 2
isSig	      = RooRealVar "isSig" -1 2

AddOns = tagFlav
tagFlav = RooThresholdCategory "B0 Tagged Flavour State" useIdx RecoBtag "B0" 1    0.001 "B0bar" -1
