// vim: set ft=cfg:
// A simple test to learn RooRarFit to fit a triple gaussian to athe DeltaDt distribution
// Stefano Lacaprara  <lacaprara@pd.infn.it>  INFN Padova
// 04/02/2016
//

// Definition of the dataset
[Dataset Definition]
Fields = Mbc DeltaE csVar MetaP Meta MKs DeltaT TrueDeltaT TrueBtag RecoBtag isSig
Mbc    	= RooRealVar "M_{bc}" 5.25 5.29 B(40) "GeV"
DeltaE 	= RooRealVar "#DeltaE" -0.1 0.1 B(40) "GeV"
csVar	      = RooRealVar "csVar" -10 10 B(40)
MetaP 	= RooRealVar "M(#eta')" 0.90 1.00 B(50) "GeV"
Meta  	= RooRealVar "M(#eta_{#gamma#gamma})" 0.40 0.60 B(50) "GeV"
MKs	      = RooRealVar "M(K^{0}_{S})" 0.46 0.54 B(40) "GeV"
DeltaT	= RooRealVar "#Deltat" -25 25 B(50) "ps"
TrueDeltaT  = RooRealVar "True #Deltat" -25 25 B(50) "ps"
TrueBtag    = RooRealVar "True Btag" -2 2
RecoBtag    = RooRealVar "Reco Btag" -2 2
isSig	      = RooRealVar "isSig" -1 2

AddOns      = DDeltaT
DDeltaT     = RooFormulaVar  "DeltaT - TrueDeltaT" "#Delta#Deltat" DeltaT TrueDeltaT -10. 10.

[Dataset Input]
dsdSec = Dataset Definition

Datasets = signalMC
signalMC    = ascii "sigMC all" "B0_etapr-eta-gg2pi_KS-pi+pi-_output_skim_signal.txt" Q // quiet mode

// This will list all datasets
tabulateDatasets = yes

// Setup the fitter
[mlFitter Config]
Comps = dtModel
fitData = signalMC

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = Signal
Coeffs = nSignal 
nSignal = nSignal  200 L(-1000 - 500000) 
postPdfFloat = nSignal 

[Signal Config]
configStr = TriGaussModel
x = DDeltaT
meanC  = dtSigBiasC "Bias_{C}"   0.000 L(-5 - +5)
sigmaC = dtSigScfaC "Sigma_{C}"  0.100 L(.01 - 5)
meanT  = dtSigBiasT "Bias_{T}"   0.000 L(-5 - 5)
sigmaT = dtSigScfaT "Sigma_{T}"  4.000 L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0.000 
sigmaO = dtSigScfaO "Sigma_{O}"  5.000 
fracC  = dtSigFracC "f_{C}"      0.200 L(.1 - .8)
fracO  = dtSigFracO "f_{O}"      0.200 L(0. - 0.6)

// Now the fit
[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec
