// vim: set ft=cfg:
// Stefano Lacaprara  <lacaprara@pd.infn.it>  INFN Padova
// 11/02/2016
// test RooRarFit configuration file for 
// B0->eta'(->eta(->3pi)pi+pi-)Ks(->pi+pi-)

[Dataset Definition]
Fields = Mbc DeltaE csVar MetaP Meta MKs DeltaT TrueDeltaT TrueBtag RecoBtag isSig

Mbc    	= RooRealVar "M_{bc}" 5.25 5.29 B(40) "GeV"
DeltaE 	= RooRealVar "#DeltaE" -0.1 0.1 B(40) "GeV"
csVar	      = RooRealVar "csVar" -10 10 B(40)
MetaP 	= RooRealVar "M(#eta')" 0.90 1.00 B(50) "GeV"
Meta  	= RooRealVar "M(#eta_{#gamma#gamma})" 0.40 0.60 B(50) "GeV"
MKs	      = RooRealVar "M(K^{0}_{S})" 0.46 0.54 B(40) "GeV"
DeltaT	= RooRealVar "#Deltat" -25 25 B(50) "ps"
TrueDeltaT  = RooRealVar "True #Deltat" -25 25 B(50) "ps"
TrueBtag    = RooRealVar "True Btag" -2 2
RecoBtag    = RooRealVar "Reco Btag" -2 2
isSig	      = RooRealVar "isSig" -1 2

AddOns = tagFlav
tagFlav = RooThresholdCategory "B0 Tagged Flavour State" useIdx RecoBtag "B0" 1    0.001 "B0bar" -1

[Dataset Input]
dsdSec = Dataset Definition
Datasets = sigMC sigMCR sigMCX bkgMC BBbkgMC simData
#BBbkgMC onData

sigMC = ascii "sigMC all" "B0_etapr-eta-3pi2pi_KS-pi+pi-_output_skim_signal.txt" Q // quiet mode
sigMCR = reduce "real sigMC" sigMC "isSig==1" Q
sigMCX = reduce "sxf sigMC" sigMC "isSig==0" Q
bkgMC = ascii "dummy background" "B0_etapr-eta-gg2pi_KS-pi+pi-_output_skim_continuum.txt" Q
# bkgMC = ascii "dummy background" "B0_etapr-eta-3pi2pi_KS-pi+pi-_output_skim_ddbar.txt" Q
# bkgMC = ascii "dummy background" "B0_etapr-eta-3pi2pi_KS-pi+pi-_output_skim_ssbar.txt" Q
# bkgMC = ascii "dummy background" "B0_etapr-eta-3pi2pi_KS-pi+pi-_output_skim_ccbar.txt" Q
BBbkgMC = ascii "BBbar background" "B0_etapr-eta-3pi2pi_KS-pi+pi-_output_skim_peaking.txt" Q
# onData = ascii "dummy data" "B0_etapr-eta-gg2pi_KS-pi+pi-_output_skim_signal.txt" Q
simData  = add "simulated Data" sigMCR 2700 sigMCX 100 bkgMC 1000 BBbkgMC 100

### Maximum Likelohood Model
[mlFitter Config]
Comps = dtModel
#Comps = noDtModel
fitData = simData
useNumCPU=8

###########################
### DT Model
###########################
[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = dtRealSigPdf dtSxfSigPdf dtBkgPdf dtBBbkgPdf
Coeffs = nSig nSXF nBkg nBB
nSig = nSig    7000 L(-300 -  10000)
nSXF = nSXF    150 L(-300 -  1000)
nBkg = nBkg    4000 L(-300 -  1000)
nBB  = nBB     120 L(-300 -  1000)
postPdfFloat = nSig nSXF nBkg nBB

# Comps = dtRealSigPdf 
# Coeffs = nSig 
# nSig = nSig    7000 L(-300 -  10000)
# nSXF = nSXF    150 L(-300 -  1000)
# # # nBkg = nBkg    3000 L(-300 -  1000)
# # # nBB  = nBB     120 L(-300 -  1000)
# postPdfFloat = nSig 

[dtRealSigPdf Config]
configStr = ProdPdf "Dt Real Signal Pdf"
Comps = noDtRealSigPdf dtSig
fitData = sigMCR

[dtSxfSigPdf Config]
configStr = ProdPdf "Dt Sxf Signal Pdf"
Comps = noDtSxfSigPdf dtSig
fitData = sigMCX

[dtBBbkgPdf Config]
configStr = ProdPdf "Dt BB bkg Pdf"
Comps = noDtBBbkgPdf dtBB
fitData = BBbkgMC

[dtBkgPdf Config]
configStr = ProdPdf "Dt Bkg Pdf"
Comps = noDtBkgPdf dtBkg
fitData = bkgMC

### PDF Dt Components
### DT 
[dtSig Config]
configStr = BCPGenDecay
pdfFit = yes
pdfPlot = yes
x = DeltaT
model = sigResModel
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C L( 0. - 0.5)
dw  = dtSigDmtr 0.02 C L(-2. - 2.0)
mu  = dtSigMu   0.0  C L(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = 0.7 L(-4.0 - 4.0)
blindStatus = unblind
blindString = estiqaatsi
blindValues = .2 .2 .2 .2
postPdfFloat = S C

[sigResModel Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtSigBiasC "Bias_{C}"  -2.96902e-02 +/- 2.240e-03 C L(-5 - 5)   
meanO  = dtSigBiasO "Bias_{O}"   0.00000e+00 C L(-INF - +INF)            
meanT  = dtSigBiasT "Bias_{T}"   4.09511e-02 +/- 6.258e-03 C L(-5 - 5)   
fracC  = etSigFracC "f_{C}"      5.64553e-01 +/- 4.304e-03 C L(0.1 - 0.8)
fracO  = dtSigFracO "f_{O}"      3.91147e-02 +/- 8.486e-04 C L(0 - 0.6)  
sigmaC = dtSigScfaC "Scale_{C}"  6.35936e-01 +/- 3.575e-03 C L(0.01 - 5) 
sigmaO = dtSigScfaO "Scale_{O}"  5.00000e+00 C L(-INF - +INF)            
sigmaT = dtSigScfaT "Scale_{T}"  1.76788e+00 +/- 1.120e-02 C L(0.5 - 5)  
// this will be added when we have dtErr in the ntuples
//msSF = dtErr
//protDataVars = dtErr
//xtraGenerators = dtErrGen

[dtBB Config]
configStr = BCPGenDecay
pdfFit = yes
pdfPlot = yes
x = DeltaT
model = sigResModelNR
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C L( 0. - 0.5)
dw  = dtSigDmtr 0.02 C L(-2. - 2.0)
mu  = dtSigMu   0.0  C L(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = 0.0 L(-4.0 - 4.0)
blindStatus = unblind
blindString = estiqaatsi
blindValues = .2 .2 .2 .2
//postPdfFloat = S C

[sigResModelNR Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtSigBiasC "Bias_{C}"   0.000 C L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  0.574 C L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"   0.000 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  1.525 C L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  3.955 C
fracC  = dtSigFracC "f_{C}"      0.232 C L(.1 - .8)
fracO  = dtSigFracO "f_{O}"      0.348 C L(0. - 0.6)
// this will be added when we have dtErr in the ntuples
//msSF = dtErr
//protDataVars = dtErr
//xtraGenerators = dtErrGen

[dtErrGen Config]
configStr = Landau
x = dtErr
mean = .75 C L(0 - 2.5)
sigma = .17 C L(0 - .5)

[dtBkg Config]
configStr = BCPGenDecay
x = DeltaT
model = bkgResModel
tag = tagFlav
tau = dtBkgTau  0 C L(0.5 - 2.5)
dm  = dtBkgDm   0 C L(0.0 - 1.0)
w   = dtBkgAmtr 0.0 C L( 0. - 0.5)
dw  = dtBkgDmtr 0.0 C L(-2. - 2.0)
mu  = dtBkgMu   0.0 C L(-2. - 2.0)
C = 0.0 C L(-2.0 - 2.0)
S = 0.0 C L(-2.0 - 2.0)
blindStatus = unblind
blindString = Blind the bkg
blindValues = .2 .2 .2 .2

[bkgResModel Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtBkgBiasC "Bias_{C}"   0.0 L(-5 - +5)
sigmaC = dtBkgScfaC "Scale_{C}"  1.0 L(0.0 - 5)
meanT  = dtBkgBiasT "Bias_{T}"   0.0 L(-5 - 5)
sigmaT = dtBkgScfaT "Scale_{T}"  1.00 L(.05 - 5)
meanO  = dtBkgBiasO "Bias_{O}"   0.0 C
sigmaO = dtBkgScfaO "Scale_{O}"  8.0 C
fracC  = dtBkgFracC "f_{C}"      1.00 L(.5 - 1)
fracO  = dtBkgFracO "f_{O}"      0.00 L(0. - 0.2)
//msSF = dtErr
//protDataVars = dtErr
//postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO


###########################
### NoDT Model
###########################
[noDtModel Config]
configStr = MLPdf "ml model"
Comps = noDtRealSigPdf noDtSxfSigPdf noDtBkgPdf  noDtBBbkgPdf
Coeffs = nSig nSXF nBkg nBB
nSig = nSig    7000 L(-300 -  10000)
nSXF = nSXF    150 L(-300 -  1000)
nBkg = nBkg    150 L(-300 -  2000)
nBB  = nBB     100 L(-300 - 1000)
postPdfFloat = nSig nSXF nBkg nBB

## Yield Model
[noDtRealSigPdf Config]
configStr = ProdPdf "noDt Real Signal Pdf"
//Comps = MbcR DeltaER csVarR MphiR HelSigR
Comps = MbcR DeltaER MetaPR
fitData = sigMCR

[noDtSxfSigPdf Config]
configStr = ProdPdf "noDt Sxf Signal Pdf"
//Comps = MbcX DeltaEX csVarX MphiX HelSigX
Comps = MbcX DeltaEX MetaPX
fitData = sigMCX

[noDtBBbkgPdf Config]
configStr = ProdPdf "noDt BB bkg Pdf"
//Comps = MbcBB DeltaEBB csVarBB MphiBB HelSigBB
Comps = MbcBB DeltaEBB MetaPBB 
fitData = BBbkgMC

[noDtBkgPdf Config]
configStr = ProdPdf "noDt Bkg Pdf"
//Comps = MbcBkg DeltaEBkg csVarBkg MphiBkg HelBkg
Comps = MbcBkg DeltaEBkg MetaPBkg
fitData = bkgMC

### NO Dt Components
### Mbc
[MbcR Config]
configStr = TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)

[MbcX Config]
configStr = AddPdf
Comps = MbcXC MbcXT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)

[MbcXC Config]
configStr =  TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)

[MbcXT Config]
configStr = ArgusBG
x = Mbc
max = 5.2893 C
c = -15. L(-90. - -0.1)
pow = 0.5 L(-2.0 - 2.0)

[MbcBB Config]
configStr = AddPdf
Comps = MbcBBC MbcBBT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)

[MbcBBC Config]
configStr =  Gaussian
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)

[MbcBBT Config]
configStr = ArgusBG
x = Mbc
max = 5.2893 C
c = -15. L(-90. - -0.1)
pow = 0.5 L(-2.0 - 2.0)

[MbcBkg Config]
configStr = ArgusBG
x = Mbc
max = 5.2872 L(5.285 - 5.290)
c = -15.0 L(-80. - -0.1)
//postPdfFloat = c

### DeltaE
[DeltaER Config]
configStr = TwoGauss
x = DeltaE
meanC = 0.01 L(-0.1 - 0.1)
meanT = -0.01 L(-0.1 - 0.1)
sigmaC = 0.005 L(0. - .03)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)

[DeltaEX Config]
configStr = TwoGauss
x = DeltaE
meanC = 0.01 L(-0.1 - 0.1)
meanT = 0.01 L(-0.2 - 0.2)
sigmaC = 0.02 L(0. - .04)
sigmaT = 0.05  L(0. - .1)
fracC =  0.8 L(0.2 - 0.9)

# [DeltaEX Config]
# configStr = Gaussian
# x = DeltaE
# mean = T "#mu_{de}"    0.01 L (-.1 - .1)
# sigma =T "#sigma_{de}" 0.02 L(0 - 0.15)


[DeltaEBB Config]
configStr = Polynomial
x = DeltaE
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)

[DeltaEBkg Config]
configStr = Polynomial
x = DeltaE
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
postPdfFloat = P01

## Mass Eta'
[MetaPR Config]
configStr = AddPdf
Comps = MetaPRBW MetaPRG
Coeffs = fracRBW
fracRBW = T "f_{RBW}" 0.9 L(0. - 1.0)

[MetaPRBW Config]
configStr = RelBreitWigner
x = MetaP		   
mean = 0.95 L(.94 - .96)
width = 0.004 L(0.002 - 1.0) 
mass_a = 0.95778 C
mass_b = 0.95778 C
spin = 1

[MetaPRG Config]
configStr = Gaussian
x = MetaP
mean = 0.95 L(.93 - .97)
sigma = 0.01 L(0 - 0.15)

[MetaPX Config]
configStr = TwoGauss
x = MetaP
meanC = 0.95 L(.94 - .96)
meanT = 0.95 L(.92 - .98)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.2 - 1)


[MetaPBB Config]
configStr = AddPdf
Comps = MetaPBBG MetaPBBpol
Coeffs = fracGg
fracGg = T "f_{Gg}" 0.8 L(0.0 - 1.0)

[MetaPBBG Config]
configStr = Gaussian
x = MetaP
mean = 0.96 L(.94 - .98)
sigma = 0.005 L(0. - .02)

[MetaPBBpol Config]
configStr = Polynomial
x = MetaP
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  1.0 L(-100 - 100)

[MetaPBkg Config]
configStr = AddPdf
#Comps = MetaP2GBkg MetaPPolBkg
Comps = MetaPRBWBkg MetaPRGBkg 
Coeffs = fracRBWBkg 
#Comps = MetaPRBWBkg MetaPRGBkg MetaPPolBkg
#Coeffs = fracRBW fracG
fracRBWBkg = T "f_{BR}" 0.8 L(0.0 - 1.0)
#fracG = T "f_{G}" 0.8 L(0.0 - 1.0)

# [MetaPRVoigtBkg Config]
# configStr = Voigtian
# x = MetaP
# mean = 0.95 L(.94 - .96)
# sigma = 0.004 L(0.002 - 1.0) 
# width = 0.01 L(0 - 0.2)

[MetaPRBWBkg Config]
configStr = RelBreitWigner
x = MetaP		   
mean = 0.95 L(.94 - .96)
width = 0.004 L(0.002 - 1.0) 
mass_a = 0.95778 C
mass_b = 0.95778 C
spin = 1

[MetaPRGBkg Config]
configStr = Gaussian
x = MetaP
mean = 0.95 L(.93 - .97)
sigma = 0.01 L(0.001 - 0.15)

[MetaP2GBkg Config]
configStr = TwoGauss
x = MetaP
meanC = 0.957 L(.92 - .99)
meanT = 0.957 L(.94 - .97)
sigmaC = 0.005 L(0. - .02)
sigmaT = 0.03  L(0. - .2)
fracC =  0.95 L(0.5 - 1)

[MetaPPolBkg Config]
configStr = Polynomial
x = MetaP
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  1.0 L(-100 - 100)

//--- Fitter "actions"

[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes
//postPdfReadSecParams = postPdfParamSec

[MlAct]
mlFit = yes // enable mlFit action
mlFitData = simData
postMLSignf = nSig // signal yield signf. (wrt 0 by default)
postMLSysVars = nSig // calculate syst. error for nSig by varying fixed params
postMLSysParams = DeltaER_meanC DeltaER_meanT DeltaER_sigmaC DeltaER_sigmaT DeltaER_fracC

[ToyParams]
# nSig = 270 +/- 30 L(-300. -  3000.)
# nSXF = 10 +/- 3 L(-300. -  3000.)
# nBkg = 100 +/- 20 L(0. - 40000.)
# nBB  = 10 +/- 3 L(-300. -  3000.)
nSig = 270 +/- 30 L(-300. -  3000.)
nSXF = 10 +/- 3 L(-300. -  3000.)
nBkg = 100 +/- 20 L(0. - 40000.)
nBB  = 10 +/- 3 L(-300. -  3000.)

[ToyAct]
toyStudy = yes
preToyReadSecParams = ToyParams 
preToyReadParams = yes 
postToyWriteParams=yes
dtSig_C = 0.0
dtSig_S = 0.70
protDatasets = simData
toyNexp = 100 // # experiments
#toyNevt = 0 floated // default: 0 (set to protData #evt), fixed (no fluctuation)
# toyNevt = 390 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
# toySrc_nSig = sigMCR 270
# toySrc_nSXF = sigMCX 10
# toySrc_nBkg = pdf 100
# toySrc_nBB = pdf 10 
toyNevt = 390 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMCR 270
toySrc_nSXF = sigMCX 10
toySrc_nBkg = pdf 100
toySrc_nBB = pdf 10

[ProjAct]
// projPlot options
projPlot = yes // enable projPlot action
projPlotData = simData
projComps = Sig // signal PDF to be projected
projLLRPlots = yes // create LLR histograms
projVars = Mbc DeltaE MetaP DeltaT// obs to get projection plot
