// vim: set ft=cfg:
// A simple test to learn RooRarFit to fit a triple gaussian to athe DeltaDt distribution
// Stefano Lacaprara  <lacaprara@pd.infn.it>  INFN Padova
// 04/02/2016
//

// Definition of the dataset
[Dataset Definition]
Fields = Mbc DeltaE bdt mlp svm MetaP Meta MKs DeltaT TrueDeltaT TrueBtag RecoBtag isSig
Mbc    	= RooRealVar "M_{bc}" 5.25 5.29 B(40) "GeV"
DeltaE 	= RooRealVar "#DeltaE" -0.1 0.1 B(40) "GeV"
bdt	      = RooRealVar "bdt" -0.5 0.5 B(40)
mlp	      = RooRealVar "mlp" 0. 1. B(40)
svm	      = RooRealVar "svm" -1. 1. B(40)
MetaP 	= RooRealVar "M(#eta')" 0.90 1.00 B(50) "GeV"
Meta  	= RooRealVar "M(#eta_{#gamma#gamma})" 0.40 0.60 B(50) "GeV"
MKs	      = RooRealVar "M(K^{0}_{S})" 0.46 0.54 B(40) "GeV"
DeltaT	= RooRealVar "#Deltat" -25 25 B(50) "ps"
TrueDeltaT  = RooRealVar "True #Deltat" -25 25 B(50) "ps"
TrueBtag    = RooRealVar "True Btag" -2 2
RecoBtag    = RooRealVar "Reco Btag" -2 2
isSig	      = RooRealVar "isSig" -1 2

AddOns      = DDeltaT
DDeltaT     = RooFormulaVar  "DeltaT - TrueDeltaT" "#Delta#Deltat" DeltaT TrueDeltaT -10. 10.

[Dataset Input]
dsdSec = Dataset Definition

Datasets = signalMC
signalMC    = ascii "sigMC all" "B0_etapr-eta-gg2pi_KS-pi+pi-_output_skim_signal_iptubeK0_TMVA.txt" Q // quiet mode

// This will list all datasets
tabulateDatasets = yes

// Setup the fitter
[mlFitter Config]
Comps = dtModel
fitData = signalMC

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = Signal
Coeffs = nSignal 
nSignal = nSignal  609776 L(-1000 - 1000000) 
postPdfFloat = nSignal 

[Signal Config]
# configStr =  Gaussian
# x = bdt
# meanC = T "#mu_{CS}"     0.0 L(-2. - 2.)
# sigmaC = T "#sigma_{CS}" 1.5 L(0.1 - 2.)

# configStr = TwoGauss
# x = bdt
# meanC = CSSigBiasC "Bias_{C}"    0.1  L(-1.5 - 1.5)
# meanT = CSSigBiasO "Bias_{O}"   -0.3  L(-2.0 - 2.0)
# sigmaC = CSSigScfaC "Scale_{C}"  1.0  L(0.01 - 0.3)
# sigmaT = CSSigScfaO "Scale_{O}"  1.4  L(0.3 - 2.)
# fracC = CSSigFracC "f_{C}"       0.5  L(0.1 - 0.9)

configStr = TriGaussModel
x = mlp
meanC  = CsBkgBiasC "Bias_{C}"   0.0 L(-0.1 - +0.3)
sigmaC = CsBkgScfaC "Scale_{C}"  0.1 L(0.0 - .2)
meanT  = CsBkgBiasT "Bias_{T}"   0.0 L(-0.2 - 0.4)
sigmaT = CsBkgScfaT "Scale_{T}"  0.30 L(.2 - .6)
meanO  = CsBkgBiasO "Bias_{O}"   0.0 L(-0.5 - .5)
sigmaO = CsBkgScfaO "Scale_{O}"  .3 L(0.3 - 1. )
fracC  = CsBkgFracC "f_{C}"      .90 L(.5 - 1.0)
fracO  = CsBkgFracO "f_{O}"      .10 L(0. - 0.3)

// Now the fit
[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec
