// test rarFit configuration file 
// for B0 -> phi(KK) Ks(pi+pi-)

[Dataset Definition]
include dsd_PhiK0_ch1_v6.config


[Dataset Input]
dsdSec = Dataset Definition
Fields = Mbc DeltaE csVar Mphi MKs cThHel DeltaT TrueDeltaT TrueBtag RecoBtag isSig
Datasets = sigMC sigMCR sigMCX sigNR bkgMC BBbkgMC onData

sigMC = ascii "sigMC all" "test_MC5_ch1_signal.dat" Q // quiet mode
sigMCR = reduce "real sigMC" sigMC "isSig==1" Q
sigMCX = reduce "sxf sigMC" sigMC "isSig==0" Q
sigNR = ascii "sigNR" "test_MC5_ch1_KKK_phsp.dat" Q
bkgMC = ascii "dummy background" "continuum_ch1_e1r1-5.dat" Q
BBbkgMC = ascii "BBbar background" "BBbar_bkg_ch1_er1-5.dat" Q
onData = ascii "dummy data" "dummy_onData_v3.dat" Q


[mlFitter Config]
Comps = dtModel
fitData = onData


[yieldModel Config]
configStr = MLPdf "ml model"
Comps = noDtRealSigPdf noDtSxfSigPdf noDtBBbkgPdf noDtNRSigPdf noDtBkgPdf 
Coeffs = nSig nSXF nBB nNR nBkg
nSig = nSig    7000 L(-300 -  10000)
nSXF = nSXF    150 L(-300 -  1000)
nBB  = nBB     120 L(-300 -  1000)
nNR  = nNR     100 L(-300 - 1000)
nBkg = nBkg    100 L(-300 -  1000)
postPdfFloat = nSig nSXF nBB nNR nBkg

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = dtRealSigPdf dtSxfSigPdf dtBBbkgPdf dtNRSigPdf dtBkgPdf
Coeffs = nSig nSXF nBB nNR nBkg
nSig = nSig    7000 L(-300 -  10000)
nSXF = nSXF    150 L(-300 -  1000)
nBB  = nBB     120 L(-300 -  1000)
nNR  = nNR     100 L(-300 - 1000)
nBkg = nBkg    100 L(-300 -  1000)
postPdfFloat = nSig nSXF nBB nNR nBkg


[noDtRealSigPdf Config]
configStr = ProdPdf "noDt Real Signal Pdf"
//Comps = MbcR DeltaER csVarR MphiR HelSigR
Comps = MbcR DeltaER MphiR HelSigR
fitData = sigMCR

[noDtSxfSigPdf Config]
configStr = ProdPdf "noDt Sxf Signal Pdf"
//Comps = MbcX DeltaEX csVarX MphiX HelSigX
Comps = MbcX DeltaEX MphiX HelSigX
fitData = sigMCX

[noDtBBbkgPdf Config]
configStr = ProdPdf "noDt BB bkg Pdf"
//Comps = MbcBB DeltaEBB csVarBB MphiBB HelSigBB
Comps = MbcBB DeltaEBB MphiBB HelBB
fitData = BBbkgMC

[noDtNRSigPdf Config]
configStr = ProdPdf "noDt NR Signal Pdf"
//Comps = MbcNR DeltaENR csVarNR MphiNR HelNR
Comps = MbcNR DeltaENR MphiNR HelNR
fitData = sigNR

[noDtBkgPdf Config]
configStr = ProdPdf "noDt Bkg Pdf"
//Comps = MbcBkg DeltaEBkg csVarBkg MphiBkg HelBkg
Comps = MbcBkg DeltaEBkg MphiBkg HelBkg
fitData = bkgMC


[dtRealSigPdf Config]
configStr = ProdPdf "Dt Real Signal Pdf"
Comps = noDtRealSigPdf dtSig
fitData = sigMCR

[dtSxfSigPdf Config]
configStr = ProdPdf "Dt Sxf Signal Pdf"
Comps = noDtSxfSigPdf dtSig
fitData = sigMCX

[dtBBbkgPdf Config]
configStr = ProdPdf "Dt BB bkg Pdf"
Comps = noDtBBbkgPdf dtBB
fitData = BBbkgMC

[dtNRSigPdf Config]
configStr = ProdPdf "Dt Sxf Signal Pdf"
Comps = noDtNRSigPdf dtSigNR
fitData = sigNR

[dtBkgPdf Config]
configStr = ProdPdf "Dt Bkg Pdf"
Comps = noDtBkgPdf dtBkg
fitData = bkgMC


//--- PDF definitions

//--- Dt part:

[dtSig Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = DeltaT
model = sigResModel
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = 0.7 L(-4.0 - 4.0)
blindStatus = unblind
blindString = PaoloCynar
blindValues = .2 .2 .2 .2
postPdfFloat = S C

[dtBB Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = DeltaT
model = sigResModelNR
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = 0.0 L(-4.0 - 4.0)
blindStatus = unblind
blindString = PaoloCynar
blindValues = .2 .2 .2 .2
//postPdfFloat = S C

[dtSigNR Config]
configStr = BCPGenDecay
pdfFit = no
pdfPlot = no
x = DeltaT
model = sigResModelNR
tag = tagFlav
tau = dtSigTau  1.530 C L(0.5 - 2.5)
dm  = dtSigDm   0.507 C L(0.0 - 1.0)
w   = dtSigAmtr 0.2  C( 0. - 0.5)
dw  = dtSigDmtr 0.02 C(-2. - 2.0)
mu  = dtSigMu   0.0  C(-2. - 2.0)
C = 0.0 L(-4.0 - 4.0)
S = -0.7 L(-4.0 - 4.0)
blindStatus = unblind
blindString = PaoloCynar
blindValues = .2 .2 .2 .2
postPdfFloat = S C

[sigResModel Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtSigBiasC "Bias_{C}"   0.000 C L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  0.574 C L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"   0.000 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  1.525 C L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  3.955 C
fracC  = dtSigFracC "f_{C}"      0.232 C L(.1 - .8)
fracO  = dtSigFracO "f_{O}"      0.348 C L(0. - 0.6)
// this will be added when we have dtErr in the ntuples
//msSF = dtErr
//protDataVars = dtErr
//xtraGenerators = dtErrGen

[sigResModelNR Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtSigBiasC "Bias_{C}"   0.000 C L(-5 - +5)
sigmaC = dtSigScfaC "Scale_{C}"  0.574 C L(.5 - 5)
meanT  = dtSigBiasT "Bias_{T}"   0.000 C L(-5 - 5)
sigmaT = dtSigScfaT "Scale_{T}"  1.525 C L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. C
sigmaO = dtSigScfaO "Scale_{O}"  3.955 C
fracC  = dtSigFracC "f_{C}"      0.232 C L(.1 - .8)
fracO  = dtSigFracO "f_{O}"      0.348 C L(0. - 0.6)
// this will be added when we have dtErr in the ntuples
//msSF = dtErr
//protDataVars = dtErr
//xtraGenerators = dtErrGen

[dtErrGen Config]
configStr = Landau
x = dtErr
mean = .75 C L(0 - 2.5)
sigma = .17 C L(0 - .5)


[dtBkg Config]
configStr = BCPGenDecay
x = DeltaT
model = bkgResModel
tag = tagFlav
tau = dtBkgTau  0 C L(0.5 - 2.5)
dm  = dtBkgDm   0 C L(0.0 - 1.0)
w   = dtBkgAmtr 0.0  C( 0. - 0.5)
dw  = dtBkgDmtr 0.0 C(-2. - 2.0)
mu  = dtBkgMu   0.0  C(-2. - 2.0)
C = 0.0 C L(-2.0 - 2.0)
S = 0.0 C L(-2.0 - 2.0)
blindStatus = unblind
blindString = Blind the bkg
blindValues = .2 .2 .2 .2


[bkgResModel Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtBkgBiasC "Bias_{C}"   0.0 L(-5 - +5)
sigmaC = dtBkgScfaC "Scale_{C}"  1.0 L(0.0 - 5)
meanT  = dtBkgBiasT "Bias_{T}"   0.0 L(-5 - 5)
sigmaT = dtBkgScfaT "Scale_{T}"  1.00 L(.05 - 5)
meanO  = dtBkgBiasO "Bias_{O}"   0.0 C
sigmaO = dtBkgScfaO "Scale_{O}"  8.0 C
fracC  = dtBkgFracC "f_{C}"      1.00 L(.5 - 1)
fracO  = dtBkgFracO "f_{O}"      0.00 L(0. - 0.2)
//msSF = dtErr
//protDataVars = dtErr
//postPdfFloat = meanC sigmaC meanT sigmaT fracC fracO



//--- noDt part:

[MbcR Config]
configStr = TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[MbcX Config]
configStr = AddPdf
Comps = MbcXC MbcXT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)
[MbcXC Config]
configStr =  TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
[MbcXT Config]
configStr = ArgusBG
x = Mbc
max = 5.2893 C
c = -15. L(-90. - -0.1)
pow = 0.5 L(-2.0 - 2.0)


[MbcBB Config]
configStr = AddPdf
Comps = MbcBBC MbcBBT
Coeffs = fracC
fracC = T "f_{P}" 0.6 L(0. - 1.0)
[MbcBBC Config]
configStr =  Gaussian
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
[MbcBBT Config]
configStr = ArgusBG
x = Mbc
max = 5.2893 C
c = -15. L(-90. - -0.1)
pow = 0.5 L(-2.0 - 2.0)


[MbcNR Config]
configStr = TwoGauss
x = Mbc
meanC = 5.28 L(5.25 - 5.2893)
meanT = 5.27 L(5.25 - 5.2893)
sigmaC = 0.0028 L(0. - .01)
sigmaT = 0.08  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[MbcBkg Config]
configStr = ArgusBG
x = Mbc
max = 5.2872 L(5.285 - 5.290)
c = -15.0 L(-80. - -0.1)
//postPdfFloat = c


[DeltaER Config]
configStr = TwoGauss
x = DeltaE
meanC = 0.01 L(-0.1 - 0.1)
meanT = -0.01 L(-0.1 - 0.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[DeltaEX Config]
configStr = Gaussian
x = DeltaE
mean = T "#mu_{de}"    0.01 L (-.1 - .1)
sigma =T "#sigma_{de}" 0.02 L(0 - 0.15)


[DeltaEBB Config]
//configStr = AddPdf
//Comps = DeBBG DeBBPol
//Coeffs = fracG
//[DeBBG Config]
//configStr = Gaussian
//x = DeltaE
//mean = T "#mu_{de}"    0.01 L (-.1 - .1)
//sigma =T "#sigma_{de}" 0.02 L(0 - 0.15)
//[DeBBPol Config]
configStr = Polynomial
nOrder = 2
x = DeltaE
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)


[DeltaENR Config]
configStr = TwoGauss
x = DeltaE
meanC = 0.01 L(-0.1 - 0.1)
meanT = -0.01 L(-0.1 - 0.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[DeltaEBkg Config]
configStr = Polynomial
x = DeltaE
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)
//postPdfFloat = P01 


[csVarR Config]
configStr = TriGaussModel
x = csVar
meanC  = -0.8 L(-3 - 0.)
sigmaC = 0.6 L(0.1 - 1.)
meanT  = -1.4 L(-5 - 0.)
sigmaT = 1.4 L(.5 - 5)
meanO  = -4. L(-8 - -2.)
sigmaO = 3.2 L(2. - 5.)
fracC  = 0.3 L(.01 - 1)
fracO  = 0.3 L(.01 - 1)


[csVarX Config]
configStr = TwoGauss
x = csVar
meanC = 0.01 L(-10 - 10)
meanT = -0.01 L(-10 - 10)
sigmaC = 2 L(0. - 5)
sigmaT = 3 L(0. - 5)
fracC =  0.8 L(0.5 - 1)


[csVarBB Config]
configStr = TwoGauss
x = csVar
meanC = 0.01 L(-10 - 10)
meanT = -0.01 L(-10 - 10)
sigmaC = 2 L(0. - 5)
sigmaT = 3 L(0. - 5)
fracC =  0.8 L(0.5 - 1)


[csVarNR Config]
configStr = TriGaussModel
x = csVar
meanC  = -0.8 L(-1 - 0.)
sigmaC = 0.6 L(0.1 - 1.)
meanT  = -1.4 L(-5 - 0.)
sigmaT = 1.4 L(.5 - 5)
meanO  = -2.5 L(-5 - -2.)
sigmaO = 3. L(2. - 5.)
fracC  = 0.3 L(.2 - 1)
fracO  = 0.3 L(.01 - 1)


[csVarBkg Config]
configStr = TwoGauss
x = csVar
meanC = 0.01 L(-10 - 10)
meanT = -0.01 L(-10 - 10)
sigmaC = 2 L(0. - 5)
sigmaT = 3 L(0. - 5)
fracC =  0.8 L(0.5 - 1)
      

[MphiR Config]
configStr = AddPdf
Comps = MphiRBW MphiRG
Coeffs = fracRBW
fracRBW = T "f_{RBW}" 0.9 L(0. - 1.0)
[MphiRBW Config]
configStr = RelBreitWigner
x = Mphi		   
mean  = 1.02 L(0.95 - 1.1)  
width = 0.004 L(0.002 - 1.0) 
mass_a = 0.4937 C
mass_b = 0.4937 C
spin = 1
[MphiRG Config]
configStr = Gaussian
x = Mphi
mean =  1.02 L (1. - 1.03)
sigma = 0.01 L(0 - 0.15)


[MphiX Config]
configStr = TwoGauss
x = Mphi
meanC = 1.02 L(0.95 - 1.1)
meanT = 1.05 L(0.95 - 1.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)


[MphiBB Config]
configStr = AddPdf
Comps = MphiBBG MphiBBpol
Coeffs = fracGg
fracGg = T "f_{Gg}" 0.6 L(0.1 - 0.9)
[MphiBBG Config]
configStr = Gaussian
x = Mphi
mean = 1.02 L(1.01 - 1.03)
//meanT = 1.05 L(0.95 - 1.1)
sigma = 0.005 L(0. - .01)
//sigmaT = 0.03  L(0. - .1)
//fracC =  0.95 L(0.5 - 1)
[MphiBBpol Config]
configStr = Polynomial
x = Mphi
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)


[MphiNR Config]
configStr = Gaussian
x = Mphi


[MphiBkg Config]
configStr = AddPdf
Comps = Mphi2G MphiPol
Coeffs = frac2G
frac2G = T "f_{2G}" 0.8 L(0.1 - 0.9)
[Mphi2G Config]
configStr = TwoGauss
x = Mphi
meanC = 1.02 L(0.95 - 1.1)
meanT = 1.05 L(0.95 - 1.1)
sigmaC = 0.005 L(0. - .01)
sigmaT = 0.03  L(0. - .1)
fracC =  0.95 L(0.5 - 1)
[MphiPol Config]
configStr = Polynomial
x = Mphi
nOrder = 2
P01 = -1.5 L(-100 - 100)
P02 =  2.0 L(-100 - 100)

[HelSigR Config]
configStr = Generic
formula = "@0*@0*@1" cThHel AccptSigR
// for the acceptance, use only the linear term + some even components
AccptSigR = AccptSigR RooFormulaVar "1. + @1*@0 + @2*@0*@0 + @3*@0*@0*@0*@0 + @4*@0*@0*@0*@0*@0*@0" cThHel c1 c2 c4 c6
c1 = T "c1_{sHel}" 0 L(-10 - 10)
c2 = T "c2_{sHel}" 0 L(-10 - 10)
c4 = T "c4_{sHel}" 0 L(-10 - 10)
c6 = T "c6_{sHel}" 0 L(-10 - 10)


[HelSigX Config]
configStr = Generic
formula = "@0*@0*@1" cThHel AccptSigX
// for the acceptance, use only the linear term + some even components
AccptSigX = AccptSigX RooFormulaVar "1. + @1*@0 + @2*@0*@0 + @3*@0*@0*@0*@0 + @4*@0*@0*@0*@0*@0*@0" cThHel c1 c2 c4 c6
c1 = T "c1_{sHel}" 0 L(-10 - 10)
c2 = T "c2_{sHel}" 0 L(-10 - 10)
c4 = T "c4_{sHel}" 0 L(-10 - 10)
c6 = T "c6_{sHel}" 0 L(-10 - 10)


[HelBB Config]
configStr = Polynomial
x = cThHel
nOrder = 4
P01 = 0. L(-100 - 100)
P02 = 0. L(-100 - 100)
P03 = 0. L(-100 - 100)
P04 = 0. L(-100 - 100)


[HelNR Config]
configStr = Polynomial
x = cThHel
nOrder = 4
P01 = 0. L(-100 - 100)
P02 = 0. L(-100 - 100)
P03 = 0. L(-100 - 100)
P04 = 0. L(-100 - 100)


[HelBkg Config]
configStr = Polynomial
x = cThHel
nOrder = 4
P01 = 0. L(-100 - 100)
P02 = 0. L(-100 - 100)
P03 = 0. L(-100 - 100)
P04 = 0. L(-100 - 100)


//--- Fitter "actions"

[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes
//postPdfReadSecParams = postPdfParamSec

[ToyParams]
nSig = 250 L(-300. -  3000.)
nSXF = 25 L(-300. -  3000.)
nBB  = 120 L(-300. -  3000.)
nNR  = 100 L(-300. -  3000.)
nBkg = 1000 L(0. - 40000.)

[eToyAct]
toyStudy = yes
preToyReadSecParams = ToyParams 
postToyWriteParams=yes
dtSig_C = 0.0
dtSig_S = 0.70
dtSigNR_C = 0.0
dtSigNR_S = -0.70
dtBB_C = 0.0
dtBB_S = 0.0
//protDatasets = onData
toyNexp = 20 // # experiments
toyNevt = 1495 fixed // default: 0 (set to protData #evt), fixed (no fluctuation)
toySrc_nSig = sigMCR 250
toySrc_nSXF = sigMCX 25
toySrc_nNR  = sigNR 100
toySrc_nBB  = pdf 120 
toySrc_nBkg = pdf 1000 
//preToyReadSecParams = ToyParams
