// Fit the DeltaT resolution for Phi Ks (Phi->K+K-)

[Dataset Definition]
Fields = ResDeltaT
ResDeltaT    = RooRealVar "Res #Deltat" -8 8 B(100) "ps"

[Dataset Input]
dsdSec = Dataset Definition
//Fields = Mbc DeltaE Mphi MKs DeltaT TrueDeltaT TrueBtag RecoBtag isSig
Datasets = sigMC
#sigMC = ascii "sigMC all" "flatFile_smeared_x2p0.dat" Q // quiet mode
sigMC = ascii "sigMC all" "B0_ch1_Dt.txt" Q // quiet mode

[mlFitter Config]
Comps = dtModel
fitData = sigMC

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = Signal
Coeffs = nSigal
nSig = nSigal    7000 L(-300 -  1000000)
postPdfFloat = nSigal

[Signal Config]
configStr = TriGaussModel
x = ResDeltaT
meanC  = dtSigBiasC "Bias_{C}"   0. L(-5 - +5)
sigmaC = dtSigScfaC "Sigma_{C}"  0.51 L(.2 - 1.8)
meanT  = dtSigBiasT "Bias_{T}"   0. L(-5 - 5)
sigmaT = dtSigScfaT "Sigma_{T}"  1.41 L(.2 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0. L(-3. - 3.) 
sigmaO = dtSigScfaO "Sigma_{O}"  4.23 L(2. - 10.)
fracC  = dtSigFracC "f_{C}"      0.1 L(.01 - 1)
fracO  = dtSigFracO "f_{O}"      0.48 L(0. - 0.6)


//--- Fitter "actions"

[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec
