##vim: set ft=cfg
// A simple test to learn RooRarFit to fit a triple gaussian to athe DeltaDt distribution
// Stefano Lacaprara  <lacaprara@pd.infn.it>  INFN Padova
// 04/02/2016
//

// Definition of the dataset
[Dataset Definition]
Fields = DeltaT
DeltaT = RooRealVar "#Deltat-#Deltat_{true}" -20 20 B(100) "ps"

[Dataset Input]
dsdSec = Dataset Definition

Datasets = signalMC
signalMC    = ascii "signalMC All data" "B0_ch1_Dt.txt" Q // quite mode

// This will list all datasets
tabulateDatasets = yes

// Setup the fitter
[mlFitter Config]
Comps = dtModel
fitData = signalMC

[dtModel Config]
configStr = MLPdf "ml yield model"
Comps = Signal
Coeffs = nSignal 
nSignal = nSignal  200 L(-1000 - 500000) 
postPdfFloat = nSignal 

[Signal Config]
configStr = TriGaussModel
x = DeltaT
meanC  = dtSigBiasC "Bias_{C}"   0.000 L(-5 - +5)
sigmaC = dtSigScfaC "Sigma_{C}"  0.100 L(.01 - 5)
meanT  = dtSigBiasT "Bias_{T}"   0.000 L(-5 - 5)
sigmaT = dtSigScfaT "Sigma_{T}"  4.000 L(.5 - 5)
meanO  = dtSigBiasO "Bias_{O}"   0.000 
sigmaO = dtSigScfaO "Sigma_{O}"  5.000 
fracC  = dtSigFracC "f_{C}"      0.200 L(.1 - .8)
fracO  = dtSigFracO "f_{O}"      0.200 L(0. - 0.6)
# meanC  = dtSigBiasC "Bias_{C}"   0. L(-5 - +5)
# sigmaC = dtSigScfaC "Sigma_{C}"  0.51 L(.2 - 1.8)
# meanT  = dtSigBiasT "Bias_{T}"   0. L(-5 - 5)
# sigmaT = dtSigScfaT "Sigma_{T}"  1.41 L(.2 - 5)
# meanO  = dtSigBiasO "Bias_{O}"   0. L(-3. - 3.) 
# sigmaO = dtSigScfaO "Sigma_{O}"  4.23 L(2. - 10.)
# fracC  = dtSigFracC "f_{C}"      0.1 L(.01 - 1)
# fracO  = dtSigFracO "f_{O}"      0.48 L(0. - 0.6)

// Now the fit
[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes
postPdfReadSecParams = postPdfParamSec
