// A second test to learn RooRarFit Mbc vs DeltaE
// Stefano Lacaprara  <lacaprara@pd.infn.it>  INFN Padova
// 04/02/2016
//

// Definition of the dataset
[Dataset Definition]
Fields      = Mbc DeltaE isSignal
Mbc         = RooRealVar "M_{bc}" 5.25 5.30 B(100) "GeV"
DeltaE      = RooRealVar "#DeltaE" -0.1 0.1 B(100) "GeV"
isSignal    = RooCategory "Is signal" 2 Contiunuum 0 signal 1

[Dataset Input]
Datasets    = allMC signalMC ContiunuumMC
allMC       = ascii "all signal MC data" "B0_ch1_MbdDe.txt"
signalMC    = reduce "signal MC data" allMC "isSignal==1"
ContiunuumMC       = reduce "signal MC data"  allMC "isSignal==0"

// This will list all datasets
tabulateDatasets = yes

ub_allMC = 6c8c902b3bd7e3376ae011cb771bb224 bd62c6c9188958f95bbd98b91237beb0

// Setup the fitter
[mlFitter Config]
Comps = myModel
fitData = allMC

//my actual model
[myModel Config]
configStr = MLPdf "ml yield model"
Comps =  Signal  Contiunuum 
Coeffs = nSignal nContiunuum 
nSignal      = nSignal  2000 L(-1000 - 500000) 
nContinuum   = nContiunuum   2000 L(-1000 - 500000) 
postPdfFloat = nSignal nContiunuum

// signal component
[Signal Config]
configStr = ProdPdf "Signal Pdf"
Comps = mbcSignal deSignal 
fitData = signalMC "DeltaE<0.05"
paramsOnPlot=yes
chi2OnPlot=yes

// Contiunuum component
[Contiunuum Config]
configStr = ProdPdf "Contiunuum Pdf"
Comps = mbcContiunuum deContiunuum 
fitData = ContiunuumMC
paramsOnPlot=yes
chi2OnPlot=yes

// Use a Crystal Ball for signa Mbc
[mbcSignal Config]
configStr = CBShape
x = Mbc
mean = 5.28 L(5.25 - 5.3)
sigma = 0.005 L(0.0 - 0.03)
alpha = 1.0 L(-100.0 - 100.0)
n = 1.0 L(-100.0 - 100.0)
paramsOnPlot=yes
chi2OnPlot=yes
postPdfFloat = mean sigma

// The description for the signal pdf in deltaE is also using
// a Crystal Ball pdf. 
[deSignal Config]
configStr = CBShape
x = DeltaE
mean = 0.0 L(-.3 - 0.3)
sigma = 0.05 L(0.0 - 0.3)
alpha = 1.0 L(-100.0 - 100.0)
n = 1.0 L(-100.0 - 100.0)
paramsOnPlot=yes
chi2OnPlot=yes
postPdfFloat = mean sigma

/// Contiunuum
[mbcContiunuum Config]
configStr = ArgusBG
x = Mbc
max = 5.29 C
c = -30 L(-100 - -0.1)
pow = 0.5 L(-3 - 3)
paramsOnPlot=yes
chi2OnPlot=yes
postPdfFloat = c

[deContiunuum Config]
configStr = Polynomial
x = DeltaE
nOrder = 2
P01 = 0.0 L(-100.0 - 100.0)
P02 = 0.0 L(-100.0 - 100.0)
paramsOnPlot=yes
chi2OnPlot=yes
postPdfFloat = P01 P02


/// Now the fit
[PdfAct]
pdfFit = yes
postPdfMakePlot = yes
postPdfWriteParams = yes

[MLAct]
mlFit = yes
mlFitData = allMC
#postMLSignf =  nSignal  // singal yield significance w.r.t 0 by default

[SPlotAct]
sPlot = yes
preSPlotReadParams = yes
sPlotComps = all
sPlotVars = Mbc DeltaE
sPlotData = allMC
sPlotPdfOverlay = yes

[ProjAct]
projPlot = yes
preProjPlotReadParams = yes
projLLRPlots = yes
projPlotData = allMC
projPlotData_mES    = "-0.2<deltaE&&deltaE<0.1"
projPlotData_deltaE = "5.27<mES&&mES<5.29"
projComps = Signal
projVars = DeltaE Mbc 
projLRatioCut = 0
plotBins = 50
projFindOptimCut = no
